$site-background-color: #F8F8F8;
$site-main-color: rgb(180, 255, 180);

$hover-color: rgba(255, 200, 0, 1);

$text-color: #202122;

$site-outer-width: 5vw;

$header-height-pc: 60px;
$header-height-sp: 48px;
